extends layout

block content
  h1= title
  p Welcome to #{title}
  input#chat-name(type='text', value="your name")
  input#chat-message(type='text', value="the message")
  button#chat-send Send
  
  button#game-start Start Game
  
  script(src="/socket.io/socket.io.js.js")
  script(src="javascripts/chat.js")